Repository amitojsingh366/BunnyTube, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, website, wrapper

chore: deploy
  package.json
Labels: none

refactor(website): dockerfile
  Dockerfile
Labels: none

chore: change WS_URL
  package.json
  packages/website/package.json
  yarn.lock
Labels: website

chore(wrapper): release 1.0.6
  packages/website/package.json
  packages/wrapper/package.json
  packages/wrapper/src/connection.ts
Labels: website, wrapper

chore: commit
  packages/website/package.json
  packages/website/src/lib/constants.ts
Labels: website

chore(wrapper): release 1.0.6
  packages/website/package.json
  packages/wrapper/package.json
  yarn.lock
Labels: website, wrapper

refactor(website): use ref instead of id
  packages/website/src/components/VideoPlayer.tsx
Labels: website

chore: commit
  packages/website/src/components/VideoPlayer.tsx
Labels: website

chore: commit
  packages/website/src/components/VideoPlayer.tsx
Labels: website

chore: commit
  .deployment.json
  .github/workflows/global-deploy.yml
  docker-compose.yml
  packages/backend/.env.example
  packages/backend/docker-compose.yml
  packages/backend/src/index.ts
  packages/backend/src/ws/index.ts
  packages/website/.env.example
Labels: backend, website

refactor(backend): docker-compose
  packages/backend/docker-compose.yml
Labels: backend

chore(website): add logs
  packages/website/next-env.d.ts
  packages/website/package.json
  packages/website/src/components/VideoPlayer.tsx
  yarn.lock
Labels: website

chore(website): remove log
  packages/website/src/components/VideoPlayer.tsx
Labels: website

refactor(backend): docker-compose
  packages/backend/docker-compose.yml
Labels: backend

refactor(backend): dont manually make volume
  packages/backend/docker-compose.yml
Labels: backend

revert: back to yarn v2
  .yarn/releases/yarn-2.4.2.cjs
  .yarn/releases/yarn-3.0.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

refactor(website): wait for auth
  packages/website/src/components/Input.tsx
  packages/website/src/components/VideoPlayer.tsx
  packages/website/src/hooks/useConn.ts
  packages/website/src/modules/auth/WaitForAuth.tsx
  packages/website/src/modules/dash/dash-page.tsx
  packages/website/src/modules/room/room-page.tsx
  packages/website/src/modules/ws/WebSocketProvider.tsx
  packages/website/src/pages/dash.tsx
  packages/website/src/pages/room/[id].tsx
  packages/wrapper/src/connection.ts
  packages/wrapper/src/wrapper.ts
Labels: website, wrapper

chore(wrapper): release 1.0.7
  packages/wrapper/package.json
Labels: wrapper

chore(website): use wrapper 1.0.7
  packages/website/package.json
Labels: website

feat(backend): allow changing user roles
  packages/backend/src/ws/classes/Room.ts
  packages/backend/src/ws/classes/RoomUser.ts
  packages/backend/src/ws/operators/user/change_role.ts
  packages/backend/src/ws/operators/user/create.ts
  packages/backend/src/ws/schemas/user/change_role.json
  packages/wrapper/src/types.ts
  packages/wrapper/src/wrapper.ts
Labels: backend, wrapper

chore(wrapper): release 1.0.8
  packages/wrapper/package.json
Labels: wrapper

chore(backend): add logs
  packages/backend/src/ws/operators/user/auth.ts
  packages/website/src/modules/auth/WaitForAuth.tsx
  packages/website/src/modules/ws/WebSocketProvider.tsx
Labels: backend, website

refactor(backend): fix auth
  packages/backend/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/prisma/schema.prisma
  packages/backend/src/ws/operators/user/auth.ts
  packages/website/package.json
  packages/website/src/lib/constants.ts
  packages/wrapper/package.json
  yarn.lock
Labels: backend, website, wrapper

refactor(website): change default ws port
  packages/website/src/lib/constants.ts
Labels: website

feat: add ability to chnage user roles
  packages/backend/src/ws/classes/Room.ts
  packages/backend/src/ws/operators/room/join.ts
  packages/website/src/components/RoomUserComponent.tsx
  packages/website/src/components/VideoPlayer.tsx
  packages/website/src/lib/constants.ts
  packages/website/src/modules/dash/dash-page.tsx
  packages/website/src/modules/room/room-page.tsx
  packages/website/src/modules/ws/WebSocketProvider.tsx
  packages/website/src/pages/index.tsx
  packages/wrapper/package.json
  packages/wrapper/src/types.ts
Labels: backend, website, wrapper

chore(wrapper): release 1.0.9
  packages/website/package.json
  packages/wrapper/package.json
Labels: website, wrapper

chore(wrapper): release 1.0.9
  packages/wrapper/package.json
Labels: wrapper

refactor(website): change default ws url
  packages/website/src/lib/constants.ts
Labels: website

.github/labeler.yml:

backend:
  - packages/backend/**/*
website:
  - packages/website/**/*
wrapper:
  - packages/wrapper/**/*
