Repository amitojsingh366/BunnyTube, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, website

.github/labeler.yml:

backend:
  - packages/backend/**/*
website:
  - packages/website/**/*

feat(backend): add basic ws logic
  packages/backend/.env.example
  packages/backend/.gitignore
  packages/backend/Dockerfile
  packages/backend/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/prisma/schema.prisma
  packages/backend/src/ws/classes/OperatorExecutor.ts
  packages/backend/src/ws/events.ts
  packages/backend/src/ws/index.ts
  packages/backend/src/ws/operatorMiddleware/schema.ts
  packages/backend/src/ws/operators/user/auth.ts
  packages/backend/src/ws/operators/user/create.ts
  packages/backend/src/ws/schemas/user/auth.json
  packages/backend/src/ws/schemas/user/create.json
  packages/backend/src/ws/types.ts
  packages/website/package.json
Labels: backend, website

chore: run yarn install
  package.json
  yarn.lock
Labels: none

feat(backend): add user creation and auth
  packages/backend/.env.example
  packages/backend/package.json
  packages/backend/src/prisma/schema.prisma
  packages/backend/src/ws/classes/OperatorExecutor.ts
  packages/backend/src/ws/classes/Password.ts
  packages/backend/src/ws/index.ts
  packages/backend/src/ws/operatorMiddleware/adminonly.ts
  packages/backend/src/ws/operatorMiddleware/checkauth.ts
  packages/backend/src/ws/operatorMiddleware/schema.ts
  packages/backend/src/ws/operators/user/auth.ts
  packages/backend/src/ws/operators/user/ban.ts
  packages/backend/src/ws/operators/user/create.ts
  packages/backend/src/ws/schemas/user/ban.json
  yarn.lock
Labels: backend

refactor(backend): auth
  packages/backend/package.json
  packages/backend/src/ws/operators/user/auth.ts
  packages/backend/src/ws/operators/user/create.ts
Labels: backend

refactor(backend): fix auth
  packages/backend/docker-compose.yml
  packages/backend/src/prisma/schema.prisma
  packages/backend/src/ws/index.ts
  packages/backend/src/ws/operators/user/auth.ts
  packages/backend/src/ws/operators/user/create.ts
Labels: backend

feat(backend): add rooms
  packages/backend/src/prisma/index.ts
  packages/backend/src/prisma/schema.prisma
  packages/backend/src/ws/classes/AuthedUser.ts
  packages/backend/src/ws/classes/Room.ts
  packages/backend/src/ws/classes/RoomUser.ts
  packages/backend/src/ws/events.ts
  packages/backend/src/ws/index.ts
  packages/backend/src/ws/managers/AuthManager.ts
  packages/backend/src/ws/managers/RoomManager.ts
  packages/backend/src/ws/operators/room/create.ts
  packages/backend/src/ws/operators/user/auth.ts
  packages/backend/src/ws/operators/user/create.ts
  packages/backend/src/ws/schemas/room/create.json
  packages/backend/src/ws/types.ts
Labels: backend

feat(backend): add room chat
  packages/backend/src/ws/classes/AuthedUser.ts
  packages/backend/src/ws/classes/Room.ts
  packages/backend/src/ws/classes/RoomUser.ts
  packages/backend/src/ws/events.ts
  packages/backend/src/ws/index.ts
  packages/backend/src/ws/managers/AuthManager.ts
  packages/backend/src/ws/managers/RoomManager.ts
  packages/backend/src/ws/operatorMiddleware/checkauth.ts
  packages/backend/src/ws/operators/chat/send_message.ts
  packages/backend/src/ws/operators/room/join.ts
  packages/backend/src/ws/operators/room/leave.ts
  packages/backend/src/ws/operators/user/create.ts
  packages/backend/src/ws/schemas/chat/send_message.json
  packages/backend/src/ws/schemas/room/join.json
  packages/backend/src/ws/schemas/room/leave.json
  packages/backend/src/ws/types.ts
Labels: backend

refactor(backend): fix room destroy
  packages/backend/src/ws/classes/Room.ts
  packages/backend/src/ws/classes/RoomUser.ts
Labels: backend
