Repository amitojsingh366/BunnyTube, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, website, wrapper

.github/labeler.yml:

backend:
  - packages/backend/**/*
website:
  - packages/website/**/*
wrapper:
  - packages/wrapper/**/*

chore(website): implement wrapper
  package.json
  packages/backend/package.json
  packages/website/package.json
  packages/website/src/hooks/useConn.ts
  packages/website/src/lib/constants.ts
  packages/website/src/modules/auth/useTokenStore.ts
  packages/website/src/modules/auth/useUsernameStore.ts
  packages/website/src/modules/ws/WebSocketProvider.tsx
  packages/website/src/pages/_app.tsx
  packages/website/src/pages/index.tsx
  packages/website/src/pages/login.tsx
  packages/website/src/styles/globals.css
  packages/wrapper/package.json
  packages/wrapper/src/connection.ts
  packages/wrapper/src/index.ts
  packages/wrapper/src/wrapper.ts
  yarn.lock
Labels: backend, website, wrapper

chore(wrapper): add refs and auth
  packages/wrapper/package.json
  packages/wrapper/src/connection.ts
  packages/wrapper/src/types.ts
  packages/wrapper/src/wrapper.ts
  yarn.lock
Labels: wrapper

refactor(backend): remove unnecessary code
  packages/backend/src/ws/classes/OperatorExecutor.ts
  packages/backend/src/ws/operatorMiddleware/checkauth.ts
  packages/backend/src/ws/operatorMiddleware/schema.ts
  packages/backend/src/ws/operators/chat/send_message.ts
  packages/backend/src/ws/operators/ping/index.ts
  packages/backend/src/ws/operators/room/create.ts
  packages/backend/src/ws/operators/room/join.ts
  packages/backend/src/ws/operators/room/leave.ts
  packages/backend/src/ws/operators/user/auth.ts
  packages/backend/src/ws/operators/user/ban.ts
  packages/backend/src/ws/operators/user/create.ts
  packages/backend/src/ws/types.ts
Labels: backend

chore(website): make wrapper + website work
  packages/backend/src/ws/classes/OperatorExecutor.ts
  packages/website/src/components/Button.tsx
  packages/website/src/components/Input.tsx
  packages/website/src/components/Spinner.tsx
  packages/website/src/modules/auth/useAuthStore.ts
  packages/website/src/modules/auth/useTokenStore.ts
  packages/website/src/modules/ws/WebSocketProvider.tsx
  packages/website/src/pages/index.tsx
  packages/website/src/pages/login.tsx
  packages/wrapper/src/connection.ts
  packages/wrapper/src/wrapper.ts
Labels: backend, website, wrapper

fix(website): redirect
  packages/backend/src/ws/classes/AuthedUser.ts
  packages/backend/src/ws/operators/user/get.ts
  packages/website/src/modules/ws/WebSocketProvider.tsx
  packages/website/src/pages/dash.tsx
  packages/website/src/pages/index.tsx
  packages/wrapper/src/connection.ts
  packages/wrapper/src/types.ts
  packages/wrapper/src/wrapper.ts
Labels: backend, website, wrapper

feat(backend): add username, email and password validation
  packages/backend/src/ws/operators/user/create.ts
  packages/website/src/pages/index.tsx
  packages/website/src/pages/logout.tsx
  packages/website/src/pages/signup.tsx
  packages/website/src/styles/globals.css
Labels: backend, website

feat(website): make room page
  packages/backend/src/prisma/schema.prisma
  packages/backend/src/ws/classes/Room.ts
  packages/backend/src/ws/managers/RoomManager.ts
  packages/backend/src/ws/operators/chat/send_message.ts
  packages/backend/src/ws/operators/room/create.ts
  packages/backend/src/ws/operators/room/join.ts
  packages/backend/src/ws/schemas/room/create.json
  packages/website/package.json
  packages/website/src/components/Input.tsx
  packages/website/src/modules/ws/WebSocketProvider.tsx
  packages/website/src/pages/dash.tsx
  packages/website/src/pages/room/[id].tsx
  packages/wrapper/src/types.ts
  packages/wrapper/src/wrapper.ts
  yarn.lock
Labels: backend, website, wrapper

feat(website): attempt dockerising
  .deployment.json
  Dockerfile
  docker-compose.yml
  packages/backend/docker-compose.yml
  packages/website/package.json
  packages/wrapper/package.json
  yarn.lock
Labels: backend, website, wrapper

chore: run install
  packages/website/package.json
  yarn.lock
Labels: website

feat(wrapper): add auto npm publish
  .github/workflows/wrapper-npm_publish.yml
  .yarnrc.yml
  LICENSE
  packages/website/.gitignore
  packages/website/README.md
  packages/website/next-env.d.ts
  packages/website/package.json
  packages/website/postcss.config.js
  packages/website/public/vercel.svg
  packages/website/src/pages/_app.tsx
  packages/website/src/pages/_document.tsx
  packages/website/src/pages/index.tsx
  packages/website/src/styles/globals.css
  packages/website/tailwind.config.js
  packages/website/tsconfig.json
  packages/wrapper/package.json
  yarn.lock
Labels: website, wrapper

refactor(wrapper): npm publish workflow
  .github/workflows/wrapper-npm_publish.yml
Labels: none

refactor(wrapper): npm wrapper
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore: add script
  .github/workflows/wrapper-npm_publish.yml
  package.json
Labels: none

chore: fix workflow
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore(wrapper): release 1.0.1
  Dockerfile
  packages/website/package.json
  packages/wrapper/package.json
  yarn.lock
Labels: website, wrapper

chore(wrapper): release 1.0.1
  packages/website/package.json
  packages/wrapper/package.json
  yarn.lock
Labels: website, wrapper

chore(wrapper): release 1.0.1
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore(wrapper): release 1.0.1
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore(wrapper): release 1.0.1
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore(wrapper): release 1.0.1
  .github/workflows/wrapper-npm_publish.yml
  package.json
Labels: none

chore(wrapper): release 1.0.1
  .github/workflows/wrapper-npm_publish.yml
  package.json
Labels: none

feat: use yarn berry 3.0
  .yarn/releases/yarn-2.4.2.cjs
  .yarn/releases/yarn-3.0.0.cjs
  .yarnrc.yml
  package.json
  packages/website/package.json
  yarn.lock
Labels: website

chore(wrapper): release 1.0.1
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore(wrapper): release 1.0.1
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore(wrapper): release 1.0.2
  .github/workflows/wrapper-npm_publish.yml
  packages/wrapper/package.json
  packages/wrapper/src/index.ts
Labels: wrapper

chore(wrapper): release 1.0.2
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore(wrapper): release 1.0.2
  .github/workflows/wrapper-npm_publish.yml
Labels: none

chore(wrapper): release 1.0.4
  packages/website/package.json
  packages/wrapper/.npmignore
  packages/wrapper/package.json
  yarn.lock
Labels: website, wrapper

chore(wrapper): release 1.0.4
  .github/workflows/wrapper-npm_publish.yml
  packages/website/package.json
Labels: website

chore(wrapper): release 1.0.4
  packages/website/package.json
  packages/wrapper/package.json
  yarn.lock
Labels: website, wrapper

chore(wrapper): release 1.0.4
  packages/wrapper/.npmrc
Labels: wrapper

refactor(website): dockerfile
  Dockerfile
Labels: none

feat: add deployment workflow
  .github/workflows/global-deploy.yml
Labels: none

chore: deploy
  .github/workflows/global-deploy.yml
Labels: none

chore: deploy
  .deployment.json
Labels: none

feat(backend): add video support
  packages/backend/src/ws/classes/Room.ts
  packages/backend/src/ws/operatorMiddleware/ratelimit.ts
  packages/backend/src/ws/operatorMiddleware/schema.ts
  packages/backend/src/ws/operators/playback/send_status.ts
  packages/backend/src/ws/operators/room/join.ts
  packages/backend/src/ws/schemas/playback/send_status.json
  packages/backend/src/ws/types.ts
Labels: backend

chore(wrapper): release 1.0.5
  packages/wrapper/package.json
  packages/wrapper/src/types.ts
  packages/wrapper/src/wrapper.ts
Labels: wrapper

feat(website): add video
  packages/website/package.json
  packages/website/src/components/VideoPlayer.tsx
  packages/website/src/pages/room/[id].tsx
Labels: website

chore: add lock
  yarn.lock
Labels: none

chore(wrapper): release 1.0.5
  packages/website/package.json
  packages/wrapper/package.json
  yarn.lock
Labels: website, wrapper
